
button {
    all: unset;
    padding: 8px 24px;
    font-weight: var(--font-weight-semibold);
    border-radius:  var(--border-radius-md);
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-dark);
}

.btn-secondary {
    background-color: var(--color-secondary);
    color: var(--color-dark);
}

.btn-danger {
    background-color: var(--color-red);
}
.btn-success {
    background-color: var(--color-green);
}