
button {
    all: unset;
    padding: 8px 24px;
    font-weight: var(--font-weight-semibold);
    border-radius:  var(--border-radius-md);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* width: max-content; */
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-dark);
}

.btn-secondary {
    background-color: var(--color-secondary);
    color: var(--color-dark);
}

.btn-icon {
    padding: .5rem;
    border: solid 1px var(--color-dark);
    border-radius: var(--border-radius-full);

}

.btn-normal {
    padding: .5rem;
}

.btn-tertiary{
    background: var(--color-white);
    border: solid 2px var(--color-light-gray);
}

.btn-danger {
    background-color: var(--color-red);
}
.btn-success {
    background-color: var(--color-green);
}

.grp-btn {
    display: flex ;
    background-color: red;
}