.home_page {
  border: solid red;
}

.form {
  background-color: white;
  padding: 2rem;
  width: 100%;
  max-width: max-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1;
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-lg);
}

.formGrp {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formGrp>label {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: bold;
}

.input {
  all: unset;
  padding: .5rem;
  width: 300px;
  outline: solid 1px var(--color-white);
  font-size: var(--font-size-sm);
  border-radius: var(--border-radius-sm);
  border: solid var(--color-gray) 1px;
}

.input:focus {
  outline: solid 1px var(--color-primary);
  border-radius: var(--border-radius-sm);
}

.form>button {
  justify-content: center;
  transition: all .2s;
  margin-top: 1rem;
}

.form>button:hover {
  filter: brightness(95%);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {}

@media (max-width: 1000px) {}