.grp-card {
    --img-width: 150px;
    --margin-left: calc(var(--img-width) / 2);
    --card-padding: 1rem;
}

.grp-card {
    margin-left: var(--margin-left);
    background-color: var(--color-white);
    padding: var(--card-padding);
    padding-left: calc(var(--img-width) / 2 + var(--card-padding));
    border-radius: var(--border-radius-lg);
    width: 90%;
    max-width: 350px;
    box-shadow: var(--shadow-md);
    transition: all .1s ease-in;
    position: relative;
    min-height: calc(var(--img-width) + var());
}

.grp-card:hover {
    box-shadow: var(--shadow-lg);
    cursor: pointer;
}

.grp-card-img-holder {
    padding: .5rem;
    width: var(--img-width);
    height: calc(90% - var(--card-padding) / 2);
    margin-top: auto;
    max-height: var(--img-width);
    position: absolute;
    left: calc(-1 * var(--img-width) / 2);
}

.grp-card-img {
    height: 100%;
    background-position: center;
    background-size: contain;
    box-shadow: var(--shadow-lg);
    border-radius: var(--border-radius-md)
}

.grp-card-body .grp-description {
    padding: .5rem;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    overflow: scroll;
}

@media (max-width: 768px) {
    .grp-card {
        width: 100%;
        max-width: 300px !important;
        padding: var(--card-padding);
        padding-top: calc(var(--img-width) / 2 + var(--card-padding));
        margin-left: unset;
        margin-top: var(--margin-left);
    }

    .grp-card-img-holder {
        height: calc(90% - var(--card-padding) / 2);
        max-height: var(--img-width);
        position: absolute;
        top: calc(-1 * var(--img-width) / 2);
        left: 50%;
        transform: translateX(-50%);
    }

    .grp-card-body, .grp-description {
        
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center; 
    }
}